<div
  class="fxLayout font"
  style="
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: mistyrose;"
>
  <mat-card style="background-color: whitesmoke;" id="rcorners1">
    <mat-card-header>
      <mat-card-title
        class="fxLayout font"
        style="width: 1200px; flex-direction: row;
        justify-content: center;  align-items: center;"
      >
      <div class="container" style="font-size: 20px">
        <div class="row">
          <div class="col">
            <img id="rcorners1" src="https://cdn.discordapp.com/attachments/971027615580295220/1085858209237057596/da97209cc59f6c4e.jpg"  width="70%"  alt="">
          </div>
          <div class="col" >
            <p>Sugar Sugar Food Shop</p>
            <mat-divider></mat-divider>
            <br>
            <p>ผู้ก่อตั้ง : ธิดารัตน์ ภูกองชนะ && สุรสิทธิ์ บุญสุข</p>
            <br>
            <p>ปีที่จัดตั้ง : 2566</p>
            <br>
            <p>สถานที่จัดตั้ง : มหาวิทยาลัยมหาสารคาม</p>
          </div>
        </div>
      </div>
      </mat-card-title>
    </mat-card-header>
    <br>
    <button mat-flat-button class="font" style="background-color: lightsalmon; color: ghostwhite;" (click)="showhome()">
      <mat-icon>home</mat-icon>
      หน้าแรก
    </button>
  </mat-card>


</div>
